.wel{
    text-align: center;
    background-color: rgba(210, 183, 183, 0.729);
    padding: 20px;
   margin-top: 10px;
    
   }
   .footer{
    background-color:#f1f6f2e2 ;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
.foot{
font-size: 12px;
text-align: center;
}
   .about{
    background-color: #0b100a96;
    color: #E2E8F0;
   }
   #scontact{
    background-color: #d27a7a;
    color: #E2E8F0;
    text-decoration: none;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-left: 30%;
   }
   .welcome{
    color: #f2ff00e9;
   }
   .ka{
    color: #ff0000e9;
   }
   .punchline{
    color: rgb(0, 0, 0);
    font-size: large;
   }
   
    .psa, ul, li{
        margin: 20px;
        padding: 0 5%;
        color: #ffffff;
    text-align: center;
    font-size: large;
text-decoration: none;
list-style:none;
    }
    .info{
        text-align: center;
    }
    
    .contact{
        text-align: center;
    }

   .wrapper-a{
    background-image: url(taxes.jpg);
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 .work{
    font-family: sans-serif;
    padding: 15px;
    color:#ffffff;
    font-size: 20px;
    text-shadow: #a81d1d;

border-style: solid;
    text-align: center;
    background-color: #e12d2dd1;
    
}
    .contact{
        text-align: center;
        padding: 10px;
    }
.wrapper-h{
    background-image: url(cents.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


  
}

.butto{
font-size: 25px;
   text-align: center;
    margin: 20px;
    width: 200px;
    padding: 10px;
    height: 50px;
    background:rgba(108, 111, 112, 0.592) ;
    transition: 0.25s;
    color: rgb(255, 255, 255);
    outline: none;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);}


@media screen and (min-width: 250px) and (max-width: 768px){
    
    .header{
        border-bottom: 1px solid #E2E8F0;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #000000;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        text-decoration: none;
    }
    
    .nav-link:hover{
        color: #be3f09;
        
    }
    
    .nav-logo {
         font-size: 1.7rem;
        color:  rgb(98, 235, 0);
        text-decoration: none;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
       background-color: #c5bebe;
        width: 0%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
      
       
    }

    .nav-menu.active {
        left: 0;
        width: 100%;
      
        
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

.d{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(120px,auto);
        max-width: 250px;
        margin: 0 auto;
        grid-gap: 10px ;
    }
.ra{
    color: #ffffff;
    font-size: larger;
    padding: 20px;
    text-align: center;
    background-color: #73d87bf9;
    margin: 10px;
    background-position: center;
    width: 100%;
}
.d1{  color: #E2E8F0;
    padding: 20px;
    background-color: #cd6d44fe;
    margin: 10px;
    text-align: center;
    background-position: center;
    width: 100%;}

.h4{
    color: #d3fd01;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(120px,auto);
    max-width: 250px;
    margin: 0 auto;
    grid-gap: 10px ;
}
#contact,#contact-title{
    text-align:center;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box input{
    width: 300px;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(80, 76, 76);
    outline: none;
}
#form > ::placeholder{
color: rgb(68, 68, 65);
text-align: center;
outline: none;
font-family:Georgia, 'Times New Roman', Times, serif

}

.box > button{
    width: 300px;
    height: 30px;
    background:#ff1515e4 ;
    transition: 0.25s;
    color: rgb(254, 254, 254);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    

}
#textarea {
    min-height: 100px;
    max-height: 100px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(80, 76, 76);
    outline: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 68, 65);
}

}





















/*DESKTOP MEDIA QUERY*/
@media screen and (min-width:769px) {
    

 
    .header{
        border-bottom: 1px solid #E2E8F0;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #000000;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        text-decoration: none;
    }
    
    .nav-link:hover{
        color: #be3f09;
        
    }
    
    .nav-logo {
         font-size: 1.7rem;
        /* font-weight: 100px; */
        color:  rgb(98, 235, 0);
        text-decoration: none;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
       background-color: #c5bebe;
        width: 0%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
      
       
    }

    .nav-menu.active {
        left: 0;
        width: 100%;
      
        
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


.d{
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows:repeat(4,minmax(150px,auto)) ;
    max-width: 2000px;
}
.ra{
    color: #ffffff;
    font-size: larger;
    padding: 20px;
    text-align: center;
    background-color: #73d87bf9;
    margin: 10px;
    background-position: center;
  
}
.h4{
    color: #d3fd01;
}
#d11{
    color: #E2E8F0;
    padding: 20px;
    background-color: #cd6d44fe;
    margin: 10px;
    text-align: center;
    background-position: center;
}
#d2{color: #E2E8F0;
    padding: 20px;
    background-color: #cd6d44fe;
    margin: 10px;
    text-align: center;
    background-position: center;}
#d3{
    color: #E2E8F0;
    padding: 20px;
    background-color: #cd6d44fe;
    margin: 10px;
    text-align: center;
    background-position: center;
}
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows:repeat(2,minmax(150px,auto)) ;
    max-width: 2000px;
    
}


#contact, #contact-title{
    text-align:center;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box input{
    width: 300px;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(80, 76, 76);
    outline: none;

   
}
.box > button{
    width: 300px;
    height: 30px;
    background:#ff1515e4  ;
    transition: 0.25s;
    color: rgb(254, 254, 254);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
#form > ::placeholder{
color: rgb(68, 68, 65);
text-align: center;}

#textarea {
    min-height: 100px;
    max-height: 100px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(80, 76, 76);
    outline: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 68, 65);

    

}
.wrapper-a{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 10px ;
}
#scontact{
    background-color: #d27a7a;
    color: #E2E8F0;
    text-decoration: none;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-left: 40%;
   }

}